<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>客户管理</title>
    <link href="css/public.css" rel="stylesheet" type="text/css" />
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="font/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .x-grid-row td {
            line-height: 32px;
            /*height: 32px;*/
            vertical-align: middle;
        }

        .x-column-header-over {
            background: #4486d6;
        }

        .x-column-header-text span {
            font-size: 16px;
        }
    </style>
    <script language="javascript" type="text/javascript" charset="UTF-8" src="js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="js/Extjs/ext-all.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/common_autoo.js"></script>
    <script type="text/javascript" src="lib/jquery.poshytip.js"></script>
    <script type="text/javascript" src="lib/jq.validate.js"></script>
    <!--全局变量-->
    <script type="text/javascript">
        var grid;
    </script>
    <script type="text/javascript">
        function init() {
            var store = Ext.create('Ext.data.Store', {
                fields: [
                    "Id", "CusName", "CusType", "Address", "Areas",
                    "CreateTime", "Leader"
                ],
                pageSize: 10, //页容量10条数据  , "LinkMan"
                remoteSort: false, //是否在服务端排序 （true的话，在客户端就不能排序）
                remoteFilter: true,
                stripeRows: true,
                proxy: {
                    type: 'ajax',
                    url: 'GetCustomInfoData',
                    reader: {
                        //这里的reader为数据存储组织的地方，下面的配置是为json格式的数据，例如：{"total":50,"rows":[{"a":"3","b":"4"}]}
                        type: 'json', //返回数据类型为json格式
                        root: 'rows', //数据
                        totalProperty: 'total' //数据总条数
                    }
                },
                sorters: [
                    {
                        //排序字段。
                        property: 'CusName',
                        //排序类型，默认为 ASC
                        direction: 'ASC'
                    }
                ],
                autoLoad: true //即时加载数据
            });

            grid = Ext.create('Ext.grid.Panel', {
                renderTo: Ext.getDom("w100_over_a"),
                store: store,
                height: 450,
                width: '100%',
                rownumberer: true,
                columnLines: true,
                loadMask: true,
                forceFit: true, //列表宽度自适应
                selModel: { selType: 'checkboxmodel' }, //选择框
                columns: [
                    { xtype: 'rownumberer' },
                    { text: 'Id', dataIndex: 'Id', align: 'center', maxWidth: 80, hidden: true },
                    { text: '客户全称', dataIndex: 'CusName', maxWidth: 220, align: 'center' },
                    { text: '客户类型', dataIndex: 'CusType', align: 'center', minWidth: 80 },
                    {
                        xtype: 'actioncolumn',
                        text: '联系人',
                        width: 50,
                        dataIndex: 'CusType',
                        align: 'center',
                        items: [
                            {
                                icon: 'images/contacts.png',
                                tooltip: 'Edit',
                                handler: function (grid, rowIndex, collndex) {
                                    var rec = grid.getStore().getAt(rowIndex);
                                    alert(rec.get('Id'));
                                }
                            }
                        ]
                    },
                    { text: '地址', dataIndex: 'Address', maxWidth: 200, align: 'center' },
                    { text: '区域', dataIndex: 'Areas', align: 'center' },
                    { text: '创建时间', dataIndex: 'CreateTime', align: 'center' },
                    { text: '负责人', dataIndex: 'Leader', align: 'center' },
                    {
                        xtype: 'actioncolumn',
                        text: '修改',
                        width: 50,
                        align: 'center',
                        items: [
                            {
                                icon: 'images/contacts.png',
                                tooltip: 'Delete',
                                handler: function (grid, rowIndex, collndex) {
                                    var rec = grid.getStore().getAt(rowIndex);
                                    DeleteCustomInfoData(rec.get('Id'));
                                }
                            }
                        ]
                    },
                    {
                        xtype: 'actioncolumn',
                        text: '删除',
                        width: 50,
                        align: 'center',
                        items: [
                            {
                                icon: 'images/err.png',
                                tooltip: 'Edit',
                                handler: function (grid, rowIndex, collndex) {
                                    var rec = grid.getStore().getAt(rowIndex);
                                    DeleteCustomInfoData(rec.get('Id'));
                                }
                            }
                        ]
                    }
                ],
                dockedItems: [
                    {
                        xtype: 'pagingtoolbar',
                        store: store, // same store GridPanel is using
                        dock: 'bottom', //分页 位置
                        emptyMsg: '没有数据',
                        displayInfo: true,
                        displayMsg: '当前显示{0}-{1}条记录  共{2}条记录 ',
                        beforePageText: '第',
                        afterPageText: '页/共{0}页'
                    }
                ],
                listeners: {
                    'afterrender': function (grid) {
                        var elments = Ext.select(".x-column-header", true);
                        elments.each(function (el) {
                            el.setStyle("color", '#fff');
                            el.setStyle("background", '#4486d6');
                            el.setStyle("height", '45px');
                        }, this);

                    }
                }
            });

            function showAlert() {
                var selectedData = grid.getSelectionModel().getSelection()[0].data;

                Ext.MessageBox.alert("标题", selectedData.cataId);
            }

        }
    </script>
    <script type="text/javascript">

        function SaveCustomerData() {
            $('#add-form').ajaxSubmit({
                type: 'post', // 提交方式 get/post
                url: 'SaveCustomInfoData',
                success: function (json) { // data 保存提交后返回的数据，一般为 json 数据
                	data = JSON.parse(json);
                    if (data.Success) {
                        grid.store.reload();
                        JsCommon.CloseDialog([$('.bgdiv'), $('#add-pp')]);
                        /*参数一:窗口的标题;
                            参数二:窗口的内容;
                            参数三:回调函数;*/
                        Ext.MessageBox.alert('系统提示', '保存成功', function (btn) { });
                    } else {
                        Ext.MessageBox.alert('系统提示', data.Error, function (btn) { });
                    }
                }
            });
            $(this).resetForm(); // 提交后重置表单
        }

        //删除
        function DeleteCustomInfoData(rowId) {
            $.ajax({
                type: "post",
                url: 'DeleteCustomInfoData',
                dataType: 'json',
                data: { "Id": rowId },
                success: function (data) {
                    if (data.Success) {
                        grid.store.reload();
                        Ext.MessageBox.alert('系统提示', '删除成功', function (btn) { });
                    } else {
                        Ext.MessageBox.alert('系统提示', '系统错误', function (btn) { });
                    }

                },
                error: JsCommon.jqueryAjaxError
            });
        }


    </script>

    <script type="text/javascript">
        $(function () {
            //全选
            selectCheck($(".checkAll"), $("input[name='sub']"));
            //删除验证
            delCheck($('#delete'), $("input[name='sub']"), $('.delete-text'));
            //新增
            clickShow($('#add'), [$('.bgdiv'), $('#add-pp')], function () {
                $('#CusName').val('');
                $('#LinkMan').val('');
                $('#Address').val('');
                $('#Areas').val('');
                $('#Leader').val('');
                $("#CusType").find("option[value='SecondaryVocational']").attr("selected", true);
                $('#btncustomersave').attr({ "disabled": false });
            });
            //修改
            clickShow($('.modify'), [$('.bgdiv'), $('#modify-pp')]);
            //导入
            clickShow($('#import'), [$('.bgdiv'), $('#import-pp')]);
            //删除
            clickShow($('#delete'), [$('.bgdiv'), $('#delete-pp')]);


            //点击关闭新增
            clickClose($('#add-close'), [$('.bgdiv'), $('#add-pp')], function () {
                $.each($("[valType]"), function (i, n) {
                    //清除可能已有的提示信息
                    $(n).poshytip('hide');
                });
            });
            clickClose($('#modify-close'), [$('.bgdiv'), $('#modify-pp')]);
            //点击关闭导入
            clickClose($('#import-close'), [$('.bgdiv'), $('#import-pp')]);
            //点击关闭删除
            clickClose($('#delete-close'), [$('.bgdiv'), $('#delete-pp')]);

            //点击取消新增
            clickClose($('#add-cancel'), [$('.bgdiv'), $('#add-pp')], function () {
                $.each($("[valType]"), function (i, n) {
                    //清除可能已有的提示信息
                    $(n).poshytip('hide');
                });
            });
            clickClose($('#modify-cancel'), [$('.bgdiv'), $('#modify-pp')]);
            //点击取消导入
            clickClose($('#import-cancel'), [$('.bgdiv'), $('#import-pp')]);
            //点击取消删除
            clickClose($('#delete-cancel'), [$('.bgdiv'), $('#delete-pp')]);
            Ext.onReady(init);



            $("#btncustomersave").click(function () {
                $(this).attr({ "disabled": "disabled" });
                if ($.doValidate()) {
                    SaveCustomerData();
                }
                return false;
            });
        });
    </script>
</head>
<body>
    <div id="erpcontent">
        <div class="i-erpcontent clearfix">
            <div class="i-erpconA">
                <div class="pr20 clearfix">
                    <div class="fl">
                        <button type="button" class="form-btn-default mr10 newshop" id="add"><i class="fa fa-plus"></i><span class="pl5">添加</span></button>
                    </div>
                    <div class="i-search-w1 fr">
                        <button type="button" class="form-btn-default btn-bg-448 ml10 fr">查询</button>
                        <div class="i-search-inputw1 w300 fr">
                            <input type="text" placeholder="请输入查询内容">
                        </div>
                    </div>
                </div>
                <div class="pr20 clearfix">
                    <div class="mt20">
                        <div id="w100_over_a" class="w100_over_a">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--弹出层-->
    <div class="PopLayer">
        <div class="bgdiv" style="display: none;"></div>
        <!--新增-->
        <div class="PopLayer-conw PopLayer-posa2 w700" style="display: none;" id="add-pp">
            <h4 class="modal-title">新增<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="add-close"></i></h4>
            <form id="add-form" class="add-form" method="post">
                <input type="hidden" name="Id" id="Id" />
                <div class="modal-body">
                    <table cellpadding="6px" width="100%" border="0">
                        <tbody>
                            <tr>
                                <td colspan="1" class="text-al-r">客户全称：<em class="colred">*</em></td>
                                <td colspan="3">
                                    <div class="control-input-w1 w250 pos-rel">
                                        <input type="text" id="CusName" name="CusName" class="control-input-1 ptb3lr5" value="" placeholder="请输入客户全称" valtype="required" msg="请输入客户全称">

                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">客户类型：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="form-group-input-1 w200">
                                        <select id="CusType" name="CusType" class="select-option-1 ptb3lr5">
                                            <option value="SecondaryVocational" selected="selected">中职</option>
                                            <option value="HigherVocational">高职</option>
                                            <option value="TechnicalSchool">技校</option>
                                            <option value="University">大学</option>
                                            <option value="Enterprise">企业</option>
                                            <option value="Government">政府</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">联系人：<em class="colred">*</em></td>
                                <td colspan="3">
                                    <div class="control-input-w1 w250 pos-rel">
                                        <input type="text" id="LinkMan" name="LinkMan" class="control-input-1 ptb3lr5" placeholder="请输入联系人电话" value="" valtype="required" msg="请输入联系人电话">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">地址：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Address" name="Address" class="control-input-1 ptb3lr5" placeholder="请输入地址" value="" valtype="required" msg="请输入地址">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">区域：<em class="colred">*</em></td>
                                <td colspan="3">
                                    <div class="control-input-w1 w250 pos-rel" id="Areas1">
                                        <input type="text" id="Areas" name="Areas" class="control-input-1 ptb3lr5" placeholder="请输入区域" value="" valtype="required" msg="请输入区域">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">负责人：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Leader" name="Leader" class="control-input-1 ptb3lr5" placeholder="请输入负责人" value="" valtype="required" msg="请输入负责人">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer text-al-r">
                    <button id="btncustomersave" type="submit" class="form-btn-default btn-bg-337">确定</button>
                    <button id="add-cancel" type="button" class="form-btn-default ml10">取消</button>
                </div>
            </form>
        </div>
        <!--修改店铺-->
        <div class="PopLayer-conw PopLayer-posa2 w700" style="display: none;" id="modify-pp">
            <h4 class="modal-title">修改店铺<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="modify-close"></i></h4>
            <form class="modify-form" method="post" action="">
                <div class="modal-body">
                    <table cellpadding="6px" width="100%" border="0">
                        <tbody>
                            <tr>
                                <td colspan="1" class="text-al-r">店铺名称：<em class="colred">*</em></td>
                                <td colspan="3">
                                    <div class="control-input-w1 w250 pos-rel">
                                        <input type="text" name="shopname" class="control-input-1 ptb3lr5" placeholder="请输入店铺名称" value="">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">所在平台：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="form-group-input-1 w200">
                                        <select class="select-option-1 ptb3lr5">
                                            <option>当当</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">店铺电话：<em class="colred">*</em></td>
                                <td colspan="3">
                                    <div class="control-input-w1 w250 pos-rel">
                                        <input type="text" name="shoptel" class="control-input-1 ptb3lr5" placeholder="请输入店铺电话" value="">
                                        <label class="error"><em class="tip-arrow tip-arrow-top"></em>店铺电话不能为空<em class="tip-arrow-close"></em></label>
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">店长：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" name="shopowner" class="control-input-1 ptb3lr5" placeholder="请输入店长" value="">
                                        <label class="error"><em class="tip-arrow tip-arrow-top"></em>店长不能为空<em class="tip-arrow-close"></em></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">店铺描述：<em class="colred">*</em></td>
                                <td colspan="5">
                                    <div class="control-input-w1 w562 pos-rel">
                                        <textarea name="shopdescribe" class="w-ratio-100 bor-textarea-1" rows="5"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-al-r">排序：</td>
                                <td colspan="5">
                                    <div class="form-group-input-1 w100">
                                        <div class="control-input-w1">
                                            <input type="text" class="control-input-1" placeholder="0" value="0">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-al-r">是否开启：</td>
                                <td colspan="5">
                                    <div class="form-group-input-1 w100">
                                        <select class="select-option-1 ptb3lr5">
                                            <option>开启</option>
                                            <option>停用</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer text-al-r">
                    <button type="button" class="form-btn-default btn-bg-337">确定</button>
                    <button type="button" class="form-btn-default ml10" id="modify-cancel">取消</button>
                </div>
            </form>
        </div>
        <!--导入弹出-->
        <div class="PopLayer-conw PopLayer-posa1 w500" style="display: none;" id="import-pp">
            <h4 class="modal-title">导入<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="import-close"></i></h4>
            <div class="modal-body">
                <table cellpadding="3px" width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>
                                请选择导入文件：
                                <input name="" type="file">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-al-r">
                <button type="submit" class="form-btn-default btn-bg-337">上传</button>
                <button type="button" class="form-btn-default ml10" id="import-cancel">取消</button>
            </div>
        </div>
        <!--删除弹出-->
        <div class="PopLayer-conw PopLayer-posa1 w500" style="display: none;" id="delete-pp">
            <h4 class="modal-title">删除<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="delete-close"></i></h4>
            <div class="modal-body">
                <table cellpadding="3px" width="100%" border="0">
                    <tbody>
                        <tr>
                            <td><i class="pr20"><img src="images/icon-warning.gif" width="48" height="48"></i><span class="delete-text" alt="您确定要删除选中选项吗？">您确定要删除选中选项吗？</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-al-r">
                <button type="submit" class="form-btn-default btn-bg-337">确定</button>
                <button type="button" class="form-btn-default ml10" id="delete-cancel">取消</button>
            </div>
        </div>
        <!--成功提示注意:有alert-success/alert-info/alert-warning/alert-danger-->
        <div class="alert alert-success" style="display: none;">
            <button type="button" class="close"> &times; </button>
            成功！很好地完成了提交。
        </div>
    </div>
</body>
</html>
