<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>账号管理</title>
    <link href="css/public.css" rel="stylesheet" type="text/css" />
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <link href="font/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" charset="UTF-8" src="js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="js/Extjs/ext-all.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/common_autoo.js"></script>
    <script type="text/javascript" src="lib/jquery.poshytip.js"></script>
    <script type="text/javascript" src="lib/jq.validate.js"></script>
    <style type="text/css">
        .x-grid-row td {
            line-height: 32px;
            vertical-align: middle;
        }

        .x-column-header-over {
            background: #4486d6;
        }

        .x-column-header-text span {
            font-size: 16px;
        }
    </style>

    <script>
        var grid;
        function SaveProjectData() {
            $('#add-form').ajaxSubmit({
                type: 'post', // 提交方式 get/post
                url: 'SaveProjectInfoData',
                success: function (json) { // data 保存提交后返回的数据，一般为 json 数据
                	data = JSON.parse(json);
                    if (data.Success) {
                        grid.store.reload();
                        JsCommon.CloseDialog([$('.bgdiv'), $('#add-pp')]);
                        Ext.MessageBox.alert('系统提示', '保存成功', function (btn) { });
                    } else {
                        Ext.MessageBox.alert('系统提示', data.Error, function (btn) { });
                    }
                }
            });
            $(this).resetForm(); // 提交后重置表单
        }
        //删除
        function DeleteProjectInfoData(rowId) {
            $.ajax({
                type: "post",
                url: 'DeleteProjectInfoData',
                dataType: 'json',
                data: { "Id": rowId },
                success: function (data) {
                    if (data.Success) {
                        grid.store.reload();
                        Ext.MessageBox.alert('系统提示', '删除成功', function (btn) { });
                    } else {
                        Ext.MessageBox.alert('系统提示', '系统错误', function (btn) { });
                    }

                },
                error: JsCommon.jqueryAjaxError
            });
        }

        $(function () {
            //全选
            selectCheck($(".checkAll"), $("input[name='sub']"));
            //全选角色
            selectPcheck($(".jsCheckAll"), $("input[name='jssub']"));
            //新增
            clickShow($('#add'), [$('.bgdiv'), $('#add-pp')], function () {
                // $('#Id').val('');
                $('#Proname').val('');
                $('#Define_time').val('');
                $('#Leader').val('');
                $('#Contract_amount').val('');
                $('#Expected_month').val('');
                $('#Schedule').val('');
                $('#Schedule_time').val('');
                $('#Actual_amount').val('');
                $('#Paid_amount').val('');
                $('#Return_amount').val('');
                $('#Paymentplan').val('');
                $('#Projectcycle').val('');
                $('#Contract_id').val('');
                $('#btnprojectsave').attr({ "disabled": false });
            });
            //修改
            clickShow($('.modify'), [$('.bgdiv'), $('#modify-pp')]);
            //删除
            clickShow($('#delete'), [$('.bgdiv'), $('#delete-pp')]);
            //点击关闭新增
            clickClose($('#add-close'), [$('.bgdiv'), $('#add-pp')], function () {
                $.each($("[valType]"), function (i, n) {
                    //清除可能已有的提示信息
                    $(n).poshytip('hide');
                });
            });
            clickClose($('#modify-close'), [$('.bgdiv'), $('#modify-pp')]);
            //点击关闭删除
            clickClose($('#delete-close'), [$('.bgdiv'), $('#delete-pp')]);
            //点击取消新增
            clickClose($('#add-cancel'), [$('.bgdiv'), $('#add-pp')], function () {
                $.each($("[valType]"), function (i, n) {
                    //清除可能已有的提示信息
                    $(n).poshytip('hide');
                });
            });
            clickClose($('#modify-cancel'), [$('.bgdiv'), $('#modify-pp')]);
            //点击取消删除
            clickClose($('#delete-cancel'), [$('.bgdiv'), $('#delete-pp')]);
            Ext.onReady(init);

            $("#btnprojectsave").click(function () {
                $(this).attr({ "disabled": "disabled" });
                if ($.doValidate()) {
                    SaveProjectData();
                }
                return false;
            });
        });


    </script>

    <script type="text/javascript">


        function init() {
            var store = Ext.create('Ext.data.Store', {
                fields: [
                    "Id", "Proname", "Define_time", "Leader", "Contract_amount", "Expected_month",
                    "Schedule", "Schedule_time", "Actual_amount", "Paid_amount", "Return_amount", "Paymentplan",
                    "Projectcycle", "Contract_id"
                ],
                pageSize: 20, //页容量10条数据
                remoteSort: false, //是否在服务端排序 （true的话，在客户端就不能排序）
                remoteFilter: true,
                stripeRows: true,
                proxy: {
                    type: 'ajax',
                    url: 'GetProjectInfoData',
                    reader: {
                        //这里的reader为数据存储组织的地方，下面的配置是为json格式的数据，例如：[{"total":50,"rows":[{"a":"3","b":"4"}]}]
                        type: 'json', //返回数据类型为json格式
                        root: 'rows', //数据
                        totalProperty: 'total' //数据总条数
                    }
                },
                sorters: [
                    {
                        //排序字段。
                        property: 'Id',
                        //排序类型，默认为 ASC
                        direction: 'ASC'
                    }
                ],
                autoLoad: true //即时加载数据
            });

            grid = Ext.create('Ext.grid.Panel', {
                renderTo: Ext.getDom("w100_over_a"),
                store: store,
                height: 450,
                width: '100%',
                columnLines: true,
                loadMask: true,
                forceFit: true, //列表宽度自适应
                // selModel: { selType: 'checkboxmodel' }, //选择框
                columns: [
                    { text: 'Id', dataIndex: 'Id', align: 'center', maxWidth: 80, hidden: true },
                    { text: '项目名称', dataIndex: 'Proname', maxWidth: 220, align: 'center' },
                    { text: '立项时间', dataIndex: 'Define_time', align: 'center', minWidth: 80 },
                    { text: '负责人', dataIndex: 'Leader', maxWidth: 200, align: 'center' },
                    { text: '预计合同额', dataIndex: 'Contract_amount', maxWidth: 200, align: 'center' },
                    { text: '预计成交月', dataIndex: 'Expected_month', align: 'center' },
                    { text: '进度', dataIndex: 'Schedule', align: 'center' },
                    { text: '进度时间', dataIndex: 'Schedule_time', align: 'center' },
                    { text: '实际合同额', dataIndex: 'Actual_amount', align: 'center' },
                    { text: '支出金额', dataIndex: 'Paid_amount', align: 'center' },
                    { text: '回款额', dataIndex: 'Return_amount', align: 'center' },
                    { text: '回款计划', dataIndex: 'Paymentplan', align: 'center', }, //renderer: function () { return "<a href=\"www.baidu.com\">回款计划</a>"; }
                    { text: '项目周期', dataIndex: 'Projectcycle', align: 'center' },
                    { text: '合同ID', dataIndex: 'Contract_id', align: 'center', hidden: true },
                    {
                        xtype: 'actioncolumn',
                        text: '修改',
                        width: 50,
                        align: 'center',
                        items: [
                            {
                                icon: 'images/contacts.png',
                                tooltip: 'Delete',
                                handler: function (grid, rowIndex, collndex) {
                                    var rec = grid.getStore().getAt(rowIndex);
                                    DeleteProjectInfoData(rec.get('Id'));
                                }
                            }
                        ]
                    },
                    {
                        xtype: 'actioncolumn',
                        text: '删除',
                        width: 50,
                        align: 'center',
                        items: [
                            {
                                icon: 'images/err.png',
                                tooltip: 'Edit',
                                handler: function (grid, rowIndex, collndex) {
                                    var rec = grid.getStore().getAt(rowIndex);
                                    DeleteProjectInfoData(rec.get('Id'));
                                }
                            }
                        ],
                    }
                ],
                dockedItems: [
                    {
                        xtype: 'pagingtoolbar',
                        store: store, // same store GridPanel is using
                        dock: 'bottom', //分页 位置
                        emptyMsg: '没有数据',
                        displayInfo: true,
                        displayMsg: '当前显示{0}-{1}条记录  共{2}条记录 ',
                        beforePageText: '第',
                        afterPageText: '页/共{0}页'
                    }
                ],
                listeners: {
                    'afterrender': function (grid) {
                        var elments = Ext.select(".x-column-header", true);
                        elments.each(function (el) {
                            el.setStyle("color", '#fff');
                            el.setStyle("background", '#4486d6');
                            el.setStyle("height", '45px');
                        }, this);

                    }
                }
            });

            function showAlert() {
                var selectedData = grid.getSelectionModel().getSelection()[0].data;
                Ext.MessageBox.alert("标题", selectedData.cataId);
            }
        }
    </script>

</head>
<body>
    <div id="erpcontent">
        <div class="i-erpcontent clearfix">
            <div class="i-erpconA">
                <div class="pr20 clearfix">
                    <div class="fl">
                        <button type="button" class="form-btn-default mr10" id="add"><i class="fa fa-plus"></i><span class="pl5">添加</span></button>
                        <button type="button" class="form-btn-default" id="delete"><i class="fa fa-trash"></i><span class="pl5">删除</span></button>
                    </div>
                    <div class="i-search-w1 fr">
                        <button type="button" class="form-btn-default btn-bg-448 ml10 fr">查询</button>
                        <div class="i-search-inputw1 w300 fr">
                            <input type="text" id="timer" placeholder="请输入查询内容">
                        </div>
                    </div>
                </div>
                <div class="pr20 clearfix">
                    <div class="mt20">
                        <div id="w100_over_a" class="w100_over_a">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--弹出层-->
    <div class="PopLayer">
        <div class="bgdiv" style="display:none"></div>
        <!--新增帐号-->
        <div class="PopLayer-conw PopLayer-posa2 w700" style="display:none" id="add-pp">
            <h4 class="modal-title">新增<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="add-close"></i></h4>
            <form id="add-form" class="add-form" method="post">
                <input type="hidden" name="Id" id="Id" />
                <div class="modal-body">
                    <table cellpadding="4px" width="100%" border="0">
                        <tbody>
                            <tr>
                                <td colspan="1" class="text-al-r">项目名称：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" style="display:none" name="Id" value="">
                                        <input type="text" id="Proname" name="Proname" class="control-input-1 ptb3lr5" placeholder="请输入项目名称" value="" valtype="required" msg="请输入项目名称">

                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">立项时间：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Define_time" name="Define_time" class="control-input-1 ptb3lr5" onfocus="WdatePicker()" placeholder="请输入立项时间" value="" valtype="required" msg="请输入立项时间">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">负责人：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Leader" name="Leader" class="control-input-1 ptb3lr5" placeholder="请输入负责人" value="" valtype="required" msg="请输入负责人">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">预计合同额：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Contract_amount" name="Contract_amount" class="control-input-1 ptb3lr5" placeholder="请输入预计合同额" value="" valtype="required" msg="请输入预计合同额">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">预计成交月：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Expected_month" name="Expected_month" class="control-input-1 ptb3lr5" placeholder="请输入预计成交月" value="" valtype="required" msg="请输入预计成交月">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">进度：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Schedule" name="Schedule" class="control-input-1 ptb3lr5" placeholder="请输入进度" value="" valtype="required" msg="请输入进度">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">进度时间：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Schedule_time" name="Schedule_time" class="control-input-1 ptb3lr5" placeholder="请输入进度时间" onfocus="WdatePicker()" value="" valtype="required" msg="请输入进度时间">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">实际合同额：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Actual_amount" name="Actual_amount" class="control-input-1 ptb3lr5" placeholder="请输入实际合同额" value="" valtype="required" msg="请输入实际合同额">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="1" class="text-al-r">支出金额：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Paid_amount" name="Paid_amount" class="control-input-1 ptb3lr5" placeholder="请输入支出金额" value="" valtype="required" msg="请输入支出金额">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">回款额：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Return_amount" name="Return_amount" class="control-input-1 ptb3lr5" placeholder="请输入回款额" value=" " valtype="required" msg="请输入回款额">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-al-r">回款计划：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Paymentplan" name="Paymentplan" class="control-input-1 ptb3lr5" placeholder="请输入回款计划" value="" valtype="required" msg="请输入回款计划">
                                    </div>
                                </td>
                                <td colspan="1" class="text-al-r">项目周期：<em class="colred">*</em></td>
                                <td colspan="1">
                                    <div class="control-input-w1 w200 pos-rel">
                                        <input type="text" id="Projectcycle" name="Projectcycle" class="control-input-1 ptb3lr5" placeholder="请输入项目周期" value=" " valtype="required" msg="请输入项目周期">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer text-al-r">
                    <button id="btnprojectsave" type="button" class="form-btn-default btn-bg-337">确定</button>
                    <button type="button" class="form-btn-default ml10" id="add-cancel">取消</button>
                </div>
            </form>
        </div>
        <!--删除弹出-->
        <div class="PopLayer-conw PopLayer-posa1 w500" style="display:none;" id="delete-pp">
            <h4 class="modal-title">删除<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="delete-close"></i></h4>
            <div class="modal-body">
                <table cellpadding="3px" width="100%" border="0">
                    <tbody>
                        <tr>
                            <td><i class="pr20"><img src="images/icon-warning.gif" width="48" height="48"></i><span class="delete-text" alt="您确定要删除选中选项吗？">您确定要删除选中选项吗？</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-al-r">
                <button type="submit" class="form-btn-default btn-bg-337">确定</button>
                <button type="button" class="form-btn-default ml10" id="delete-cancel">取消</button>
            </div>
        </div>
        <!--成功提示注意:有alert-success/alert-info/alert-warning/alert-danger-->
        <div class="alert alert-success" style="display:none;">
            <button type="button" class="close"> &times; </button>
            成功！很好地完成了提交。
        </div>
    </div>
</body>
</html>
