<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>角色管理</title>
<link href="css/public.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="font/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script>
$(function(){
	//全选
	selectCheck($(".checkAll"),$("input[name='sub']"));
	//删除验证
	delCheck($('#delete'), $("input[name='sub']"), $('.delete-text'));
	//全选角色
	selectPcheck($(".jsCheckAll"),$("input[name='jssub']"))
	//新增
    clickShow($('#add'), [$('.bgdiv'), $('#add-pp')]);
	//修改
    clickShow($('.modify'), [$('.bgdiv'), $('#modify-pp')]);
	//补充权限
    clickShow($('.power'), [$('#power-pp')]);
	clickShow($('.modify-power'), [$('#modify-power-pp')]);
    //删除
    clickShow($('#delete'), [$('.bgdiv'), $('#delete-pp')]);
	
    //点击关闭新增
    clickClose($('#add-close'), [$('.bgdiv'), $('#add-pp')]);
	clickClose($('#modify-close'), [$('.bgdiv'), $('#modify-pp')]);
	//点击关闭补充权限
    clickClose($('#power-close'), [$('#power-pp')]);
	clickClose($('#modify-power-close'), [$('#modify-power-pp')]);
    //点击关闭删除
    clickClose($('#delete-close'), [$('.bgdiv'), $('#delete-pp')]);

    //点击取消新增
    clickClose($('#add-cancel'), [$('.bgdiv'), $('#add-pp')]);
	clickClose($('#modify-cancel'), [$('.bgdiv'), $('#modify-pp')]);
	//点击取消补充权限
    clickClose($('#power-cancel'), [$('#power-pp')]);
	clickClose($('#modify-power-cancel'), [$('#modify-power-pp')]);
    //点击取消删除
    clickClose($('#delete-cancel'), [$('.bgdiv'), $('#delete-pp')]);
	})


</script>
</head>
<body>
<div id="erpcontent">
  <div class="i-erpcontent clearfix">
    <div class="i-erpconA">
      <div class="pr20 clearfix">
        <div class="w600 fl">
          <div class="clearfix">
            <div class="fl">
              <button type="button" class="form-btn-default mr10" id="add"><i class="fa fa-plus"></i><span class="pl5">添加</span></button>
              <button type="button" class="form-btn-default" id="delete"><i class="fa fa-trash"></i><span class="pl5">删除</span></button>
            </div>
          </div>
          <table width="100%" border="1" bordercolor="#a8a8a8" class="mt20">
            <tbody>
              <tr class="i-table-tr2 bg-448 colfff">
                <th width="50">全选
                  <input type="checkbox" class="checkAll ml5"></th>
                <th width="50">序号</th>
                <th align="center">角色名称</th>
                <th align="center">角色描述</th>
                <th width="100">操作</th>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">1</td>
                <td align="center" class="cup col4486d6">档案管理</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">2</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">3</td>
                <td align="center" class="cup col4486d6">档案管理</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">5</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">5</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">6</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">7</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">8</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">9</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">10</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">11</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">12</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">13</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">14</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">15</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">16</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">17</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">18</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">19</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
              <tr class="i-table-tr2">
                <td  align="center"><input type="checkbox"  name="sub"></td>
                <td  align="center">20</td>
                <td align="center" class="cup col4486d6">客服</td>
                <td align="center">角色描述角色描述角色描述</td>
                <td align="center"><a href="javascript:void(0)" class="col469 modify">修改</a></td>
              </tr>
            </tbody>
          </table>
           <div class="page mt15">
            <ul class="pagination">
              <li class="first disabled"><span>首页</span></li>
              <li class="prev disabled"><span>上一页</span></li>
              <li class="active"><a href="#" data-page="0">1</a></li>
              <li><a href="#" data-page="1">2</a></li>
              <li><a href="#" data-page="2">3</a></li>
              <li class="next"><a href="#" data-page="1">下一页</a></li>
              <li class="last"><a href="#" data-page="2">末页</a></li>
              <span class="">共<em class="colff6600">3</em>页&nbsp;&nbsp;去第&nbsp;&nbsp;<input type="text" class="text" value=""> 页 <input type="button" value="确定" class="btn"></span>
            </ul>
          </div>
        </div>
        <div class="ml620">
          <div class="role-Op-authority">
            <div class="Pop-modal-b-th">
              <ul>
                <li><a href="#">操作权限</a></li>
              </ul>
            </div>
            <div class="Pop-Supplement-con pos-rel" id="Pop-height" style="min-width:400px;">
              <ul>
                <li class="pb5">
                  <input type="checkbox" class=" mr5 jsCheckAll">
                  档案管理
                  <ul class="ml20 mt5">
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      基础数据档案</li>
                  </ul>
                </li>
                <li class="pb5">
                  <input type="checkbox" class=" mr5 jsCheckAll">
                  VRM采购管理
                  <ul class="ml20 mt5">
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      采购订单管理</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      新增采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      确认采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      采购订单管理</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      新增采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      确认采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      采购订单管理</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      新增采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      确认采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      采购订单管理</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      新增采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      确认采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      采购订单管理</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      新增采购单</li>
                    <li class="pr10">
                      <input type="checkbox" class=" mr5" name="jssub">
                      确认采购单</li>
                  </ul>
                </li>
                <li class="pb5">
                  <input type="checkbox" class=" mr5 jsCheckAll">
                  网站管理员</li>
              </ul>
              <div style="position:absolute; bottom:20px; right:20px;">
              <button type="submit" class="form-btn-default btn-bg-337 ptb10 mr10">保存</button>
              <button type="button" class="form-btn-default btn-bg-5cb ptb10">取消</button>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--弹出层-->
<div class="PopLayer">
  <div class="bgdiv" style="display:none"></div>
  <!--新增角色-->
  <div class="PopLayer-conw PopLayer-posa2 w700" style="display:none" id="add-pp">
    <h4 class="modal-title">新增角色<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="add-close"></i></h4>
    <form class="add-form">
      <div class="modal-body">
        <table cellpadding="4px" width="100%" border="0">
          <tbody>
            <tr>
              <td colspan="1" class="text-al-r">角色名称：<em class="colred">*</em></td>
              <td colspan="1"><div class="control-input-w1 w200 pos-rel">
                  <input type="text"  name="addname" class="control-input-1 ptb3lr5" placeholder="请输入角色名称" value="">
                  <label class="error"><em class="tip-arrow tip-arrow-top"></em>角色名称不能为空<em class="tip-arrow-close"></em></label>
                </div></td>
            </tr>
            <tr>
              <td colspan="1" class="text-al-r">角色描述：<em class="colred">*</em></td>
              <td colspan="1"><div class="control-input-w1 w400 pos-rel">
                  <textarea name="" cols="" rows="5" class="control-input-1 ptb3lr5" placeholder="请输入角色描述" ></textarea>
                  <label class="error"><em class="tip-arrow tip-arrow-top"></em>角色描述不能为空<em class="tip-arrow-close"></em></label>
                </div></td>
            </tr>
            <tr>
              <td colspan="1"  class="text-al-r" ><a href="javascript:void(0)" class="col469 power">权限补充</a></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer text-al-r">
        <button type="submit" class="form-btn-default btn-bg-337" id="add-submit">确定</button>
        <button type="button" class="form-btn-default ml10" id="add-cancel">取消</button>
      </div>
    </form>
  </div>
  
  <!--补充权限-->
  <div class="PopLayer-conw PopLayer-posa2 w700" style="display:none;" id="power-pp">
    <h4 class="modal-title">补充权限：除角色外还需单独增加的权限<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="power-close"></i></h4>
    <div class="modal-body-li">
      <div class="Pop-modal-b-th">
        <ul>
          <li><a href="#">操作权限</a></li>
        </ul>
      </div>
      <div class="Pop-Supplement-con" style="min-height:350px;">
        <ul>
          <li class="pb5">
            <input type="checkbox" class=" mr5 jsCheckAll">
            档案管理
            <ul class="ml20 mt5">
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                基础数据档案</li>
            </ul>
          </li>
          <li class="pb5">
            <input type="checkbox" class=" mr5 jsCheckAll">
            VRM采购管理
            <ul class="ml20 mt5">
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
            </ul>
          </li>
          <li class="pb5">
            <input type="checkbox" class=" mr5 jsCheckAll">
            网站管理员</li>
        </ul>
      </div>
    </div>
    <div class="modal-footer text-al-r">
      <button type="submit" class="form-btn-default btn-bg-337">确定</button>
      <button type="button" class="form-btn-default ml10" id="power-cancel">取消</button>
    </div>
  </div>
  <!--修改角色-->
  <div class="PopLayer-conw PopLayer-posa2 w700" style="display:none" id="modify-pp">
    <h4 class="modal-title">修改角色<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="modify-close"></i></h4>
    <form class="modify-form">
      <div class="modal-body">
        <table cellpadding="4px" width="100%" border="0">
          <tbody>
            <tr>
              <td colspan="1" class="text-al-r">角色名称：<em class="colred">*</em></td>
              <td colspan="1"><div class="control-input-w1 w200 pos-rel">
                  <input type="text"  name="addname" class="control-input-1 ptb3lr5" placeholder="请输入角色名称" value="">
                  <label class="error"><em class="tip-arrow tip-arrow-top"></em>角色名称不能为空<em class="tip-arrow-close"></em></label>
                </div></td>
            </tr>
            <tr>
              <td colspan="1" class="text-al-r">角色描述：<em class="colred">*</em></td>
              <td colspan="1"><div class="control-input-w1 w400 pos-rel">
                  <textarea name="" cols="" rows="5" class="control-input-1 ptb3lr5" placeholder="请输入角色描述" ></textarea>
                  <label class="error"><em class="tip-arrow tip-arrow-top"></em>角色描述不能为空<em class="tip-arrow-close"></em></label>
                </div></td>
            </tr>
            <tr>
              <td colspan="1"  class="text-al-r" ><a href="javascript:void(0)" class="col469 modify-power">权限补充</a></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer text-al-r">
        <button type="submit" class="form-btn-default btn-bg-337" id="modify-submit">确定</button>
        <button type="button" class="form-btn-default ml10" id="modify-cancel">取消</button>
      </div>
    </form>
  </div>
  
  <!--补充权限-->
  <div class="PopLayer-conw PopLayer-posa2 w700" style="display:none;" id="modify-power-pp">
    <h4 class="modal-title">补充权限：除角色外还需单独增加的权限<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="modify-power-close"></i></h4>
    <div class="modal-body-li">
      <div class="Pop-modal-b-th">
        <ul>
          <li><a href="#">操作权限</a></li>
        </ul>
      </div>
      <div class="Pop-Supplement-con" style="min-height:350px;">
        <ul>
          <li class="pb5">
            <input type="checkbox" class=" mr5 jsCheckAll">
            档案管理
            <ul class="ml20 mt5">
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                基础数据档案</li>
            </ul>
          </li>
          <li class="pb5">
            <input type="checkbox" class=" mr5 jsCheckAll">
            VRM采购管理
            <ul class="ml20 mt5">
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                采购订单管理</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                新增采购单</li>
              <li class="pr10">
                <input type="checkbox" class=" mr5" name="jssub">
                确认采购单</li>
            </ul>
          </li>
          <li class="pb5">
            <input type="checkbox" class=" mr5 jsCheckAll">
            网站管理员</li>
        </ul>
      </div>
    </div>
    <div class="modal-footer text-al-r">
      <button type="submit" class="form-btn-default btn-bg-337">确定</button>
      <button type="button" class="form-btn-default ml10" id="modify-power-cancel">取消</button>
    </div>
  </div>
  <!--删除弹出-->
  <div class="PopLayer-conw PopLayer-posa1 w500" style="display:none;" id="delete-pp">
    <h4 class="modal-title">删除<i class="fa  fa-remove posab-abs posab-r10 posab-t14 cup" id="delete-close"></i></h4>
    <div class="modal-body">
      <table cellpadding="3px" width="100%" border="0">
        <tbody>
          <tr>
            <td><i class="pr20"><img src="images/icon-warning.gif" width="48" height="48"></i><span class="delete-text" alt="您确定要删除选中选项吗？">您确定要删除选中选项吗？</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer text-al-r">
      <button type="submit" class="form-btn-default btn-bg-337">确定</button>
      <button type="button" class="form-btn-default ml10" id="delete-cancel">取消</button>
    </div>
  </div>
  <!--成功提示注意:有alert-success/alert-info/alert-warning/alert-danger-->
  <div class="alert alert-success" style="display:none;">
    <button type="button" class="close"> &times; </button>
    成功！很好地完成了提交。 </div>
</div>
</body>
</html>